{% if is_paginated %}

<nav>
  <ul class="pagination">
    <li>
      {% if page_obj.has_previous %}
      <a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      {% else %}
      <li class="disabled"><span>&laquo;</span></li>
      {% endif %}
      </a>
    </li>
    {% for i in paginator.page_range %}
        {% if forloop.counter|add:7 > page_obj.number and forloop.counter < page_obj.number|add:11 %}
            {% if page_obj.number == i %}
            <li class="active"><a href="?page={{ i }}" class="single-btn">{{ i }}</a></li>
            {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endif %}
    {% endfor %}
    <li>
      {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      {% else %}
      <li class="disabled"><span>&laquo;</span></li>
      {% endif %}
      </a>
    </li>
  </ul>
</nav>

{% endif %}